nav {
  background-color: rgba(199, 199, 199, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
nav a {
  color: black;
  text-decoration: none;
  font-weight: 350;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: color 0.3s ease;
}
nav a:hover{
    background-color: rgba(229, 229, 229, 0.621);
    color: blue;
    
}